{% extends "base.html" %}

{% block title %}
    {{ view.model.get_model_name_plural }}
{% endblock %}
      

{% block content %}

    <h1>{{ object.title }}  {{ object.date }}</h1>

    <h5>Описание:</h5>
    <p>{{ object.description }}</p>
    
    <p>Тип: {{ object.task_type }}</p>
    <p>Статус: {{ object.state }}</p>
    <p>Автор: {{ object.author }}</p>
    <p>Исполнители: 
        <ul>
            {% for performer in object.performers.all %}
            <li>performer</li>
            {% endfor %}
        </ul>
    </p>

    <ul>
        {% for comment in object.comment_set.all %}
            <li>
                <p>{{ comment.date }} {{ comment.author }}</p>
                <p>{{ comment.description}}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{{request.path}}comment/add/">Добавить комментарий</a>
    </div>

{% endblock %}
