{% extends "base.html" %}

{% block title %}
    {{ view.model.get_model_name_plural }}
{% endblock %}
      

{% block content %}

    <h1>{{ object.title }}  {{ object.date }}</h1>

    <h5>Описание:</h5>
    <p>{{ object.description }}</p>
    
    <p>Тип: {{ object.task_type }}</p>
    <p>Статус: {{ object.state }}</p>
    <p>Автор: {{ object.author }}</p>
    <p>Исполнители: 
        <ul>
            {% for performer in object.performers.all %}
            <li>{{ performer }}</li>
            {% empty %}
                <p>Исполнители не назначены.</p>
            {% endfor %}
        </ul>
    </p>

    {% if object.author == user %}
        <a href="{% url 'task_update' object.pk %}">Редактировать</a>
        <br>
        {% if not object.performers.count %}
            <a href="{% url 'task_delete' object.pk %}">Удалить</a>
            <br>
        {% endif %}
    {% endif %}

    {% if user.profile.customer is False  and  not object.performers.count %}
        <a href="{% url 'task_accept' object.pk %}">Принять</a>
    {% endif %}

    <a href="{% url 'task_set_state' object.pk %}">Установить статус</a>

    <p>Комментарии:
        <ul>
            {% for comment in object.comment_set.all %}
                <li>
                    <p>{{ comment.date }} {{ comment.author }}</p>
                    <p>{{ comment.description}}</p>
                </li>
            {% empty %}
                <p>Комментариев пока что нет.</p>
            {% endfor %}
        </ul>
    </p>
    <a href="{{request.path}}comment/add/">Добавить комментарий</a>
    

{% endblock %}
