{% extends "base.html" %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}

    {% if form.errors %}
    <p>Вы ошиблись в логине или пароле</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>У Вас нет доступа к этой странице.</p>
        {% else %}
        <p>Войдите чтобы увидеть эту страницу.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    
    <p><a href="{% url 'pass_reset' %}">Забыли пароль?</a></p>
    <p><a href="{% url 'registration' %}">Регистрация</a></p>

{% endblock %}